/*Fonts, set default to inconsolata wt 300, width 100*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*Header Style*/
header {
    font-variation-settings: "wdth" 125;
    font-weight: 600;
}

.logo {
    font-size: 1.5em;
}

nav {
    margin: 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

header {
    width: 100%;
    z-index: 2;
}

.logo-container {
    margin: 0 1em;
}

.nav-buttonset {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: right;
}

.nav-buttonset>a {
    margin: 0 1em;
}

.nav-item {
    text-decoration: underline;
}

/*Primary Document Styles*/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    width: 25%;
    z-index: 2;
}

.title-overlay {
    position: relative;
    mix-blend-mode: color-burn;
    color: #544d4d;
}

.title-beneath {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    color: #0f0f0f;
}

p {
    font-size: medium;
    text-align: left;
    text-indent: 0;
}

.site-landing {
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 2;
    position: absolute;
    width: 100%;
}

#gradient-canvas {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.site-landing>* {
    width: 50%;
    margin: 2em 3em;
}

.site-landing>p {}

#main-content {
    margin: 0;
    flex-grow: 1;
    position: relative;
}

/*Projects*/

.project-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows minmax(100px, auto);
}

.project-summary>h3 {
    font-size: 1em;
    font-weight: 800;
    min-height: 30%;
}

.project-summary>p {
    font-size: 0.75em;
}

.project-summary>time {
    font-size: 0.75em;
    background-color: rgba(255, 2500);
    border-radius: 1rem;
    padding: 0.5em;
}

.project-summary {
    width: 10em;
    background-color: rgba(150, 168, 227, 100);
    border-radius: 1em;
    padding: 1rem;
    transition: 0.2s;
    align-content: center;
}

.project-summary:hover {
    scale: 1.05;
    cursor: pointer;
}

.project-article {
    margin: 0 10em;
}

.chroma {
    padding: 1em 2em;
    border-radius: 1em;
}

/*About, Contact*/
.about,
.contact {
    margin: 0 10em;
}

.contact>h2 {
    text-align: center;
}

/*Footer Styles*/
footer {
    display: flex;
    flex-direction: row;
    font-variation-settings: "wdth" 125;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1));
    z-index: 2;
}

.socials {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.socials>div {
    margin: 1em;
}
